.ipynb_checkpoints/
amici_models/
venv/
.idea/
pipeline_for_sampling/Results_CR_FP/
pipeline_for_sampling/Results_CR_MP/
pipeline_for_sampling/Results_mRNA_FP/
pipeline_for_sampling/Results_mRNA_MP/
*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.toc
*.pickle
